logs
project/project
project/target
classes/
target
tmp
.history
.serverpid
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
node_modules
bin
public/bower_components
public/images/
public/javascripts/
public/src/ts/definition/jquery.d.ts
public/stylesheets/
public/src/ts/definition/angular.d.ts
public/src/ts/*.js
public/temp
test/ts/temp/
*.log
eclipse
npm-debug.log
eclipse
/classes/
.sass-cache
tools/